@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 15%;
    margin-right: 15%;
}

.title {
    color: var(--white);
    font-size: var(--fz-heading);
    font-weight: 600;
    letter-spacing: 1.775px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
    padding: 20px;
}

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color:transparent;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.skillImageContainer img {
    width: 80%;
}

.skill p {
    color: var(--blue);
    font-size: var(--fz-xl);
    font-family: var(--font-mono);
    font-weight: 500;
}

.history {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 10px;
    padding: 24px;
}

.historyItem img {
    width: 50px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 6px;
    list-style-position: inside;
    font-size: 25px;
    list-style-type: disc;
    margin-left: 17px;
}

@media screen and (max-width: 830px) {
    .container {
        margin-left: 5%;
        margin-right: 5%;
        overflow: visible;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-size: var(--fz-xxxl);
        position: sticky;
        top: 0px;
        z-index: 5;
    }

    
    .skills {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin-top: 10px;
    }

    .history {
        width: 100%;
        gap: 10px;
    }

    .historyItem img {
        width: 30px;
    }

    .historyItemDetails h3 {
        font-size: 23px;
    }

    .historyItemDetails p {
        font-size: 17px;
    }

    .historyItemDetails ul {
        margin-top: 6px;
        font-size: 16px;
        list-style-type: disc;
        margin-left: 0;
    }

    .skillImageContainer {
        width: 40px;
        height: 40px;
    }

    .skillImageContainer img {
        width: 80%;
    }

    .skill p {
        font-size: var(--fz-xs);
        font-weight: 400;
    }

}
